{% load comment_tags %}
{% load staticfiles %}
<div class="pinglun" id="评论">
    <div class="comment-form-header">
        {% if request.user.is_authenticated %}
        <!-- 设置你的头像 -->
        <img src="{{ request.user.avatar.url }}">
        <div class="header-username">
            <span>
                {{ request.user.username }}
                <i class="fa fa-edit"></i>
            </span>
            <span id="reply-action">回复：</span>
            <span id="recipient"></span>
        </div>
        {% else %}
        <!-- 设置登录链接 -->
        <span class="remind-login">尚未登录，请<a href="#">登录</a>后参与评论</span>
        {% endif %}
    </div>
    {% generate_form entry as form %}
    <form class="comment-form" method="post" action="{% url 'easy_comment:submit_comment' %}">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
        {{ field }}
        {{ field.errors }}
        {% endfor %}
        <button class="button button-primary-flat button-rounded pull-right {% if not request.user.is_authenticated %}
        no-login
        {% endif %}" type="submit" id="submit-button">
            <i class="fa fa-check-square-o"></i>
            提交评论
        </button>
    </form>
    <button class="button button-primary-flat button-rounded pull-right" id="cancel-button">
        <i class="fa fa-undo"></i>
        取消回复
    </button>
    <div class="clear"></div>

    <h2>
        评论
        <span class="pull-right"></span>
    </h2>
    <div class="pinglun-list">
    </div>
</div>
<!-- 提交评论 回复 各种ajax -->
<script>
    $('.pinglun-text img').removeAttr('style');
    $(".django-ckeditor-widget").removeAttr('style');
    // 提交评论按钮
    $("#submit-button").click(function (e) {
        e.preventDefault();
        if ($(this).hasClass('no-login')){
            alert("请登录后参与评论！");
            return false;
        }
        // 验证honeypot字段是否为空，如果不为空，则是垃圾评论
        if ($("#id_honeypot").val().length > 0){
                alert("spam!");
                return false;
        }
        // 默认从表单获取父级评论id，如果是回复的话，从sessionStorage提取
        pid = $('#id_parent option:selected').val();
        if (sessionStorage.getItem('reply')) {
            pid = sessionStorage.getItem('pid');
        }
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }});
        $.ajax({
            type: 'post',
            url: "{% url 'easy_comment:submit_comment' %}",
            data:{
                    'honeypot':$("#id_honeypot").val(),
                    'content':CKEDITOR.instances.id_content.getData(),
                    'parent':pid,
                    'content_type':$('#id_content_type option:selected').val(),
                    'object_id': $('#id_object_id').val()
            },
            dataType:'json',
            success:function (data) {
                // 评论提交成功
                if (data.msg == 'success!') {
                    // 加载评论html
                    $(".pinglun-list").html(data.html);
                    // 清空编辑框内容
                    CKEDITOR.instances.id_content.setData("");
                    $("#cancel-button").css('display', 'none');
                    $("#reply-action").css('display', 'none');
                    $("#recipient").css('display', 'none');
                    sessionStorage.removeItem('reply');
                    // 获取参与人数，评论数量
                    $('.pinglun h2 span').text(data.user_count + "人参与 | " + data.comment_count + "条评论");
                    $('.pinglun-text img').removeAttr('style');
                    Prism.highlightAll();
                    empty_page = false;
                    block_request = false;
                    page = 1;
                }
                else {
                    alert(data.msg);
                }
            },
            error:function (data) {
                alert("Something is wrong! lol");
            }
        });
    });
    // 点击回复按钮，使用.live()绑定click事件，因为我们会使用ajax加载评论
    $(".reply").live('click', function () {
        if ($("#submit-button").hasClass('no-login')) {
            alert('请登录后参与评论！');
            return false;
        }
        // 评论框显示被回复的用户名，显示取消回复按钮
        $("#recipient").text($(this).data('name')).css('display', 'inline-block');
        $("#reply-action").css('display', 'inline-block');
        $("#cancel-button").css('display', 'inline-block');
        sessionStorage.setItem('reply', true);
        // 获取父级评论的id存在session-storage里，提交评论时提取出来
        sessionStorage.setItem('pid', $(this).attr('id'));
    });
    // 取消回复按钮
    $("#cancel-button").click(function () {
        $(this).css('display', 'none');
        $("#reply-action").css('display', 'none');
        $("#recipient").css('display', 'none');
        sessionStorage.removeItem('reply');
    });
    // 从comment_list view获取评论html，评论人数，评论数量
    {% get_content_type_id entry as type_id %}
    var type_id = {{ type_id }}
    $.get(
        "{% url 'easy_comment:comment_list' entry.id %}",
        {'content_type': type_id},
        function (data) {
            $(".pinglun-list").html(data.html);
            Prism.highlightAll();
            $('.pinglun-text img').removeAttr('style');
            $('.pinglun h2 span').text( data.user_count + "人参与 | " + data.comment_count + "条评论");
        }
    );
    var page = 1;
    var empty_page = false;
    var block_request = false;
    // 滚动加载评论
    $(window).scroll(function () {
        var margin = $(document).height() - $(window).height() - 200;
        if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
            block_request = true;
            page += 1;
            $.get(
                "{% url 'easy_comment:comment_list' entry.id %}?page=" + page,
                {'content_type': type_id},
                function(data) {
                    if(data == '') {
                    empty_page = true;
                }
                else {
                    block_request = false;
                    $(".pinglun-list").append(data.html);
                    Prism.highlightAll();
                    $('.pinglun-text img').removeAttr('style');
                }
            });
        }
    });
</script>