#id_parent, #id_entry, #id_honeypot {
    display: none;
}
#cancel-button {
    font-size: 14px;
    padding: 0 20px;
    background-color: #E74C3C;
    margin-top: 10px;
	display: none;
}
#reply-action {
	color: #292b2c;
	display: none;
}
#recipient {
	color: #16a085;
	display: none;
}
.pinglun-text {
    padding: 10px 0;
}
.pinglun-text img {
    max-width: 100%;
    height: auto;
}
.pinglun-avatar {
	float: left;
    width: 8%;
    margin: auto;
}